@media screen and (max-width:1800px){
	
	
}

@media screen and (max-width:1600px){
	
	
}

@media screen and (max-width:1440px){
	h4{
		font-size: 27px;
    	line-height: 33px;
	}
	p{
		font-size: 17px;
    	line-height: 27px;
	}
	
}


@media screen and (max-width:1300px){


}

@media screen and (max-width:1200px){


}

@media screen and (max-width:1024px){


}

@media screen and (max-width:900px){


}


@media screen and (max-width:767px){

}

@media screen and (max-width:600px){

}

@media screen and (max-width:479px) {


}
@media screen and (max-width:374px) {

}